@model IEnumerable<DocSearch.Models.tbl_Folder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Security)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUser_DT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Cabinet.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Security)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUser_DT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Cabinet.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Folder_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Folder_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Folder_ID })
        </td>
    </tr>
}

</table>
